Package: svnplus
Version: 0.1.1
Section: base
Priority: optional
Architecture: all
Depends: bash
Maintainer: Pierre-Marie Dhaussy <pierremarie.dhaussy@gmail.com>
Description: Some subversion tools like unsvn (delete .svn directories), srevert (Recursiv revert with advanced deletion capabilities)
