Package: sld-tools
Version: 0.3
Section: base
Priority: optional
Architecture: all
Depends: bash
Replaces: sld
Maintainer: Pierre-Marie Dhaussy <pierre-marie.dhaussy@bull.net>
Description: Ensemble de fonctions d'assistance au développement du framework Java de Pôle-Emploi (SLD).
